@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
  --vermelho:#E50914;
  --preta: #141414;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos base*/
body {
  background: var(--preta);
  font-family: 'Bebas Neue', cursive;
  color: #fff;
}


header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 

}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
  font-size: 23px;
}


header nav a:hover {
  color: #fff;
}

/* Centro */
.filme-principal{
  font-size: 20px;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/img1.jpg');

  height: 500px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricoes{
  margin-bottom: 40px;
  font-size: 30px;
}

.filme-principal .titulo {
  font-size: 80px;
}

.botao {
  background-color: rgba(0, 0, 0, .50);
  border: none;
  color: #fff;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: .5s;
}

.botao:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 25px;
}

.filme-principal .container{
  width: 70%;
}

.box-filme{
  height: 100%;
  width: 100%;
  display: block;
}

.lista .assistidos{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  align-items: center;
  margin-left: 20px;
}

/* MODULAR ESTRELA*/